

html,body {
    height: 100vh;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}


.header_left {
    display: flex;
    align-items: center;
}

.hl_left {
    padding: 6px;
    margin: 0 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #222;
    
    
}

.header_right {
    display: flex;
    align-items: center;
    padding: 7px 6px;
}

.hl_right {
    margin: 0 10px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: #222;
   
}

.products {
    height: 30px;
    width: 30px;
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
}

.products:hover {
    text-decoration: none;
}

.sign_in {
    margin: 0 7px;
    border: 1px solid transparent;
    color: #fff;
    outline: none;
    background: #1a73e8;
    border-radius: 4px;
    padding: 9px 23px;
    min-width: 96px;
    line-height: 16px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    text-align: center;
}

.sign_in:hover {
    text-decoration: none;
}


.logo {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    align-items: center;
    max-height: 290px;
    min-height: 92px;
}

.logo_image {
    height: 92px;
    width: 272px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-height: 160px;
    padding: 20px;
}

.search_bar {
    display: flex;
    max-width: 584px;
    padding: 5px;
    width: 100%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    align-items: center;
}

.search_icon {
    width: 20px;
    height: 20px;
    margin: 0 7px;
    
    
}

.icon_svg {
    width: 100%;
    height: 100%;
    fill: #9aa0a6;
    
}

.search_input {
    padding: 5px;
    flex: 1; 
}


.input {
    border: none;
    width: 100%;
    font-size: 14px;

}

.input:focus {
    outline: none;
}


.buttons {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 584px;
    width: 100%;
}

.go_button {
    width: 50px;
    height: 40px;
    margin-right: 10px;
}

.lucky_button {
    width: 50px;
    height: 40px;
}

.bottom {
    flex: 1;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between; 
}

@media only screen and ( max-width:1200px) {
    .footer {
        justify-content: space-evenly;
    } 
}

.footer_left {
    display: flex;
    padding: 5px;
    order: 1;
}

.footer_left > a {
    padding: 3px;
}

.footer_center {
    display: flex;
    padding: 5px;
    justify-content: center;
    order: 2;
}

@media only screen and ( max-width:1200px) {
    .footer_center {
        order: 0;
        width: 100%;
    }  
}

.footer_right {
    display: flex;
    padding: 5px;
    order: 3; 
}

.footer_right > a {
    padding: 3px;
}




