

html,body {
    height: 100vh;
}


a:hover {
    text-decoration: underline;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

.header_link {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #222;
    text-decoration: none;
}


.header_left {
    display: flex;
    padding: 5px;
    align-items: center;
}

.hl_left {
    padding: 6px;
    margin: 5px;
}



.header_right {
    display: flex;
    padding: 5px;
    align-items: center;
}


.logo {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    align-items: center;
    max-height: 290px;
    min-height: 92px;
}

.logo_image {
    height: 92px;
    width: 272px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-height: 160px;
    padding: 20px;
}

.search_bar {
    display: flex;
    max-width: 584px;
    padding: 5px;
    width: 100%;     
}

.search_icon {
    width: 33px;
    height: 44px;
    padding: 5px; 
}

.search_input {
    padding: 5px;
    flex: 1; 
}

.buttons {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 584px;
    width: 100%;
}

.go_button {
    width: 50px;
    height: 40px;
    margin-right: 10px;
}

.lucky_button {
    width: 50px;
    height: 40px;
}

.bottom {
    flex: 1;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between; 
}

@media only screen and ( max-width:1200px) {
    .footer {
        justify-content: space-evenly;
    } 
}

.footer_left {
    display: flex;
    padding: 5px;
    order: 1;
}

.footer_left > a {
    padding: 3px;
}

.footer_center {
    display: flex;
    padding: 5px;
    justify-content: center;
    order: 2;
}

@media only screen and ( max-width:1200px) {
    .footer_center {
        order: 0;
        width: 100%;
    }  
}

.footer_right {
    display: flex;
    padding: 5px;
    order: 3; 
}

.footer_right > a {
    padding: 3px;
}




